body {
    background-color:black !important;
}

.container {
    margin-top: 20vh;
}

#welcome {
    color:white;
}

#c-welcome {
    background-color: rgba(0, 0, 0, .5);
    border-radius:50%;
    height:400px;
    width:400px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

#curtain {
    background-color:rgba(0,0,0,.3);
    position:fixed;
    top:0px;
    min-height:100%;
    min-width:100%;
}