{% load static %}
{% include "partials/header.html" %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/input.css' %}">
</head>
<div id="curtain"></div>
<div class="container" style="margin-top:30px;">
    <div id="userinput">
        <div class="grid">
            <form action="{% url 'yelpapi' %}" method="POST" class="form login">

                <div class="form__field">

                    <input id="login__username" type="text" name="name" class="form__input"
                           placeholder="Restaurant Name"
                           required>
                </div>

                <div class="form__field">

                    <input id="login__password" type="text" name="location" class="form__input" placeholder="Locarion"
                           required>
                </div>

                <div class="form__field">
                    <input type="submit" value="Look up">
                </div>

            </form>
        </div>
    </div>
    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

{% include "partials/footer.html" %}