{% load static %}
{% include "partials/header.html" %}

<div id="curtain"></div>
<div class="container" style="margin-top:30px;">
    <form class="text-center" method="POST" action="{% url 'yelpapi' %}">
        <h2>Input</h2>
        <div class="form-group">
            <input type="text" placeholder="name" name="name"/>
        </div>
        <div class="form-group">
            <input type="text" placeholder="location" name="location"/>
        </div>
        <div class="form-group">
            <input type="submit"/>
        </div>
    </form>
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
</div>

{% include "partials/footer.html" %}