{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LandingPage</title>
    <link href='https://fonts.googleapis.com/css?family=Lekton|Lobster' rel='stylesheet' type='text/css'/>
    <link href="../static/dist/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="../static/css/landing.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../static/dist/jquery.mb.YTPlayer.js"></script>
    <!--    <script src="../static/js/landing.js"></script>-->

    <script>
    $(function(){
        $(".ytp_player").YTPlayer();});
    </script>

</head>

<body>
<div id="curtain"></div>
<div class="ytp_player"

     data-property="{videoURL:'https://www.youtube.com/watch?v=vN5l9h5D8Ns',
     containment:'body',
     showControls:false,
     autoPlay:true,
     loop:true,
     mute:true,
     startAt:40,
     opacity:1,
     quality:'hd1080'}">


</div>

<div class="container text-center" id="c-welcome">
    <h1 id="welcome"> Welcome!</h1>
    <div style="margin-top:50px;">
        <a class="btn btn-success" href="{% url 'yelpapi' %}">Start your journey</a>
    </div>
</div>


</body>

</html>